<html>
	<head>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	</head>
	<body>
		<a href="javascript:void(0)" class="w3-bar-item w3-button w3-blue w3-button w3-hover-black w3-left-align" onclick="document.getElementById('id01').style.display='block'">Add new task <i class="w3-padding fa fa-pencil"></i></a>
		<div id="id01" class="w3-modal" style="z-index:4">
		  <div class="w3-modal-content w3-animate-zoom">
			<div class="w3-container w3-padding w3-red">
			   <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-right w3-xxlarge"><i class="fa fa-remove"></i></span>
			  <h2>Send Mail</h2>
			</div>
			<div class="w3-panel">
			  <label>To</label>
			  <input class="w3-input w3-border w3-margin-bottom" type="text">
			  <label>From</label>
			  <input class="w3-input w3-border w3-margin-bottom" type="text">
			  <label>Subject</label>
			  <input class="w3-input w3-border w3-margin-bottom" type="text">
			  <input class="w3-input w3-border w3-margin-bottom" style="height:150px" placeholder="What's on your mind?">
			  <div class="w3-section">
				<a class="w3-button w3-red" onclick="document.getElementById('id01').style.display='none'">Cancel &nbsp;<i class="fa fa-remove"></i></a>
				<a class="w3-button w3-right" onclick="document.getElementById('id01').style.display='none'">Send &nbsp;<i class="fa fa-paper-plane"></i></a> 
			  </div>    
			</div>
		  </div>
		</div>
	</body>
</html>
