<html>
	<head>
		<link rel="stylesheet" href="/styles/w3.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="/scripts/jquery-1.10.2.js"></script>
	</head>
	<body class="w3-container">
			
		
		<div class="w3-padding-32" style="margin-left:15%;">		
			<a href="javascript:void(0)" class="w3-bar-item w3-button w3-blue w3-button w3-hover-black w3-left-align" onclick="document.getElementById('addtask').style.display='block'">Add new task <i class="w3-padding fa fa-pencil"></i></a>
			<div id="addtask" class="w3-modal" style="z-index:4">
			  <div class="w3-modal-content w3-animate-zoom">
				<div class="w3-container w3-padding w3-blue">
				   <span onclick="document.getElementById('addtask').style.display='none'" class="w3-button w3-right w3-xxlarge"><i class="fa fa-remove"></i></span>
				  <h2>Add task</h2>
				</div>
				<form action='/addtask' method='POST'>
					<div class="w3-panel">
						  <label>Title</label>
						  <input name='title' class="w3-input w3-border w3-margin-bottom" type="text">
						  <label>Time</label>
						  <input name='time' class="w3-input w3-border w3-margin-bottom" type="text">
						  <label>Description</label>
						  <input name='description' class="w3-input w3-border w3-margin-bottom" style="height:150px" placeholder="What's on your mind?">
						  <div class="w3-section">
							<a class="w3-button w3-red" onclick="document.getElementById('addtask').style.display='none'">Cancel &nbsp;<i class="fa fa-remove"></i></a>
							
							<input type='submit' class="w3-button w3-right w3-blue" onclick="document.getElementById('addtask').style.display='none'">
							
						  </div>    
					</div>
				</form>
			  </div>
			</div><br><br>
			
			
			
			
			
			<span id = "tasksList">
			
			
			</span>		
			
			<script>
			/**/
			$.getJSON( "/gettasks", function( details ) {
				console.log(details);
				var printStr = "";
				for( i=0 ;i<details.length;i++){
					printStr = printStr + "<br><div class='w3-card-4' style='width:80%;'> <header class='w3-container w3-blue'><h1 name='show_title' id='show_title'>" +details[i].title+ "<i class='w3-right w3-xxlarge fa fa-trash'></i></h1></header><div class='w3-container'> <p name='show_description' id='show_description'>"+ details[i].description+ "</p></div><footer class='w3-container w3-blue'><h5 name='show time' id='show_time'>"+ details[i].time+ "</h5></footer></div>";
				}
				document.getElementById("tasksList").innerHTML=printStr;
			});
			
			</script>
			
			
			
			<!--
			
			<div class="w3-card-4" style="width:80%;">
							
				<header class="w3-container w3-blue">
				  <h1 name="show_title" id="show_title">Title
				  <i onclick="./login.html" class="w3-right w3-xxlarge fa fa-trash"></i></h1>
				</header>
				<div class="w3-container">
				  <p name="show_description" id="show_description">Description</p>
				</div>
				
				<footer class="w3-container w3-blue">
				  <h5 name="show_time" id="show_time">Time</h5>
				</footer>
			</div>
			-->
			
			
		</div>
	</body>
</html>
