<html>
<head>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
	<div>
		<form action='#' method="POST">
			<div class="w3-container w3-row w3-padding-32" style="margin-left:35%;">
				<p style="width:50%">
				  <label class="w3-text-blue"><b>Username</b>
				  <input class="w3-input w3-border" name="email" type="text" placeholder='Email' required></label>
				</p>
				<p style="width:50%">
				  <label class="w3-text-blue"><b>Password</b>
				  <input class="w3-input w3-border" name="password" type="password" placeholder='Password' required></label>
				</p>
				<div class="w3-center" style="width:50%">
				<input class="w3-btn w3-blue w3-center" type='submit' value='Login'>
				</div>
				<p style="w3-center width:50%">
				  <a href="index.html"><label class="w3-text-blue"><b>Not a member? Register Here</b>
				</p>
			</div>
		</form>
	</div>

</body>
</html>
