<html>
<head>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<style>
		p{
			width:50%;
		}
	</style>
</head>
<body>
	<div>
		<form action='/register' method="POST">
			<div class="w3-container w3-row w3-padding-32" style="margin-left:35%;">
				<p>
				  <label class="w3-text-blue"><b>First Name</b>
				  <input class="w3-input w3-border" name="fullname" type="text" placeholder='Fullname' required></label>
				</p>
				<p>
				  <label class="w3-text-blue"><b>Username/Email</b>
				  <input class="w3-input w3-border" name="email" type="text" placeholder='Email' required></label>
				</p>
				<p>
				  <label class="w3-text-blue"><b>Password</b>
				  <input class="w3-input w3-border" name="password" type="password" placeholder='Password' required></label>
				</p>
				<div class="w3-center" style="width:50%">
				<input class="w3-btn w3-blue w3-center" type='submit' value='Register'>
				</div>
				<p style="w3-center">
				  <a href="/loginform"><label class="w3-text-blue"><b>Already a member? Login Here</b>
				</p>
			</div>
		</form>
	</div>

</body>
</html>
